<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="navbar-row">
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/">ALL</a>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/ad/concept/' or page.url == '/ad/trend/' or page.url == '/ad/sdcc/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('ad-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Autonomous Driving
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="ad-dropdown">
                    <a class="dropdown-item" href="{{ "/ad/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/ad/trend" | prepend: site.baseurl }}">Trend</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/ad/sdcc" | prepend: site.baseurl }}">Self-Driving Cars (Coursera)</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/math/la/' or page.url == '/math/algorithm/' or page.url == '/math/ps/' or page.url == '/math/calculus/' or page.url == '/math/pb/' or page.url == '/math/game/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('math-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Math
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="math-dropdown">
                    <a class="dropdown-item" href="{{ "/math/algorithm" | prepend: site.baseurl }}">Algorithm</a>
                    <a class="dropdown-item" href="{{ "/math/ps" | prepend: site.baseurl }}">Problem Solving</a>
                    <a class="dropdown-item" href="{{ "/math/la" | prepend: site.baseurl }}">Linear Algebra</a>
                    <a class="dropdown-item" href="{{ "/math/pb" | prepend: site.baseurl }}">Probability</a>
                    <a class="dropdown-item" href="{{ "/math/calculus" | prepend: site.baseurl }}">Calculus</a>
                    <a class="dropdown-item" href="{{ "/math/game" | prepend: site.baseurl }}">Game Theory</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/ml/la/' or page.url == '/ml/prml/' or page.url == '/ml/sklearn/' or page.url == '/ml/concept/' or page.url == '/ml/question/ or page.url == '/ml/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('ml-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    ML
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="ml-dropdown">
                    <a class="dropdown-item" href="{{ "/ml/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/ml/sklearn" | prepend: site.baseurl }}">Scikit Learn</a>
                    <a class="dropdown-item" href="{{ "/ml/prml" | prepend: site.baseurl }}">P.R.M.L</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/ml/question" | prepend: site.baseurl }}">Question</a>
                    <a class="dropdown-item" href="{{ "/ml/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
            <li class="nav-item dropdown
            {% if page.url == '/dl/chollet/' or page.url == '/dl/pytorch/' or page.url == '/dl/dlai/' or page.url == '/dl/caffe/' or page.url == '/dl/keras/'or page.url == '/dl/concept/' or page.url == '/dl/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('dl-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    DL
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dl-dropdown">
                    <a class="dropdown-item" href="{{ "/dl/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/dl/pytorch" | prepend: site.baseurl }}">PyTorch</a>
                    <a class="dropdown-item" href="{{ "/dl/pytorch" | prepend: site.baseurl }}">Caffe</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/dl/dlai" | prepend: site.baseurl }}">Deeplearning.ai</a>
                    <a class="dropdown-item" href="{{ "/dl/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
            <li class="nav-item dropdown
            {% if page.url == '/vision/concept/' or page.url == '/vision/segmentation/' or page.url == '/vision/cs231n/' or page.url == '/vision/opencv/' or page.url == '/vision/kalmanfilger/' or page.url == '/vision/detection/ or page.url == '/vision/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('vision-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Vision
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="vision-dropdown">
                    <a class="dropdown-item" href="{{ "/vision/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/vision/segmentation" | prepend: site.baseurl }}">Segmentation</a>
                    <a class="dropdown-item" href="{{ "/vision/detection" | prepend: site.baseurl }}">Detection</a>
                    <a class="dropdown-item" href="{{ "/vision/kalmanfilter" | prepend: site.baseurl }}">Kalman Filter</a>
                    <a class="dropdown-item" href="{{ "/vision/opencv" | prepend: site.baseurl }}">OpenCV</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/vision/cs231n" | prepend: site.baseurl }}">CS231n</a>
                    <a class="dropdown-item" href="{{ "/vision/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/c/concept' or page.url == '/c/etc/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('c-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    C
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="c-dropdown">
                    <a class="dropdown-item" href="{{ "/c/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/c/etc" | prepend: site.baseurl }}">Etc</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/cpp/concept' or page.url == '/cpp/mfc/ or page.url == '/cpp/etc/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('cpp-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    C++
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="cpp-dropdown">
                    <a class="dropdown-item" href="{{ "/cpp/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/mfc/concept" | prepend: site.baseurl }}">MFC</a>
                    <a class="dropdown-item" href="{{ "/cpp/etc" | prepend: site.baseurl }}">Etc</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/python/rest/' or page.url == '/python/crawling/' or page.url == '/python/pandas/' or page.url == '/python/django/' or page.url == '/python/embedded/' or page.url == '/python/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('python-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Python
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="python-dropdown">
                    <a class="dropdown-item" href="{{ "/python/pandas" | prepend: site.baseurl }}">Basic & Pandas & Numpy</a>
                    <a class="dropdown-item" href="{{ "/python/django" | prepend: site.baseurl }}">Django</a>
                    <a class="dropdown-item" href="{{ "/python/rest" | prepend: site.baseurl }}">Django-RestFramework</a>
                    <a class="dropdown-item" href="{{ "/python/crawling" | prepend: site.baseurl }}">Crawling</a>
                    <a class="dropdown-item" href="{{ "/python/embedded" | prepend: site.baseurl }}">Embedded</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/python/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/nd/humanity/' or page.url == '/nd/linux/' or page.url == '/nd/football/' or page.url == '/nd/etc/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('nd-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    ETC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="nd-dropdown">
                    <a class="dropdown-item" href="{{ "/nd/humanity" | prepend: site.baseurl }}">Humanity</a>
                    <a class="dropdown-item" href="{{ "/nd/linux" | prepend: site.baseurl }}">Linux</a>
                    <a class="dropdown-item" href="{{ "/nd/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script>
    function clickDropdown(dropdown_id) { // TODO : Refactoring, It have to be recycling to other elements.
        var x = document.getElementById(dropdown_id);
        if (x.style.display !== "block") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>