<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="navbar-row">
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/">ALL</a>
            </li>
            <li class="nav-item dropdown
            {% if page.url == '/machine-learning/concept/' or page.url == '/machine-learning/code/' or page.url == '/machine-learning/paper/' or page.url == '/machine-learning/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('ml-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Machine Learning
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="ml-dropdown">
                    <a class="dropdown-item" href="{{ "/machine-learning/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/machine-learning/paper" | prepend: site.baseurl }}">Paper</a>
                    <a class="dropdown-item" href="{{ "/machine-learning/code" | prepend: site.baseurl }}">Code</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/machine-learning/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
            <li class="nav-item dropdown
            {% if page.url == '/deep-learning/concept/' or page.url == '/deep-learning/code/' or page.url == '/deep-learning/paper/' or page.url == '/deep-learning/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('dl-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Deep Learning
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dl-dropdown">
                    <a class="dropdown-item" href="{{ "/deep-learning/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/deep-learning/paper" | prepend: site.baseurl }}">Paper</a>
                    <a class="dropdown-item" href="{{ "/deep-learning/code" | prepend: site.baseurl }}">Code</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/deep-learning/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
            <li class="nav-item dropdown
            {% if page.url == '/computer-vision/concept/' or page.url == '/computer-vision/code/' or page.url == '/computer-vision/paper/' or page.url == '/computer-vision/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('vision-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Vision
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="vision-dropdown">
                    <a class="dropdown-item" href="{{ "/vision/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/vision/paper" | prepend: site.baseurl }}">Paper</a>
                    <a class="dropdown-item" href="{{ "/vision/code" | prepend: site.baseurl }}">Code</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/vision/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
            <li class="nav-item dropdown
            {% if page.url == '/natural-language-processing/concept/' or page.url == '/natural-language-processing/code/' or page.url == '/natural-language-processing/paper/' or page.url == '/natural-language-processing/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('nlp-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Natural Language Processing
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="nlp-dropdown">
                    <a class="dropdown-item" href="{{ "/natural-language-processing/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/natural-language-processing/paper" | prepend: site.baseurl }}">Paper</a>
                    <a class="dropdown-item" href="{{ "/natural-language-processing/code" | prepend: site.baseurl }}">Code</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/natural-language-processing/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
            <li class="nav-item dropdown
            {% if page.url == '/reinforcement-learning/concept/' or page.url == '/reinforcement-learning/code/' or page.url == '/reinforcement-learning/paper/' or page.url == '/reinforcement-learning/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('rl-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Reinforcement Learning
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="rl-dropdown">
                    <a class="dropdown-item" href="{{ "/reinforcement-learning/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/reinforcement-learning/paper" | prepend: site.baseurl }}">Paper</a>
                    <a class="dropdown-item" href="{{ "/reinforcement-learning/code" | prepend: site.baseurl }}">Code</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/reinforcement-learning/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
            <li class="nav-item dropdown
            {% if page.url == '/gan/concept/' or page.url == '/gan/code/' or page.url == '/gan/paper/' or page.url == '/gan/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('gan-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    GAN
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="gan-dropdown">
                    <a class="dropdown-item" href="{{ "/gan/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/gan/paper" | prepend: site.baseurl }}">Paper</a>
                    <a class="dropdown-item" href="{{ "/gan/code" | prepend: site.baseurl }}">Code</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/gan/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
            <li class="nav-item dropdown
            {% if page.url == '/python/crawling/' or page.url == '/python/library/' or page.url == '/python/django/' or page.url == '/python/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('python-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Python
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="python-dropdown">
                    <a class="dropdown-item" href="{{ "/python/library" | prepend: site.baseurl }}">Library</a>
                    <a class="dropdown-item" href="{{ "/python/django" | prepend: site.baseurl }}">Django</a>
                    <a class="dropdown-item" href="{{ "/python/crawling" | prepend: site.baseurl }}">Crawling</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/python/etc" | prepend: site.baseurl }}">ETC</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script>
    function clickDropdown(dropdown_id) { // TODO : Refactoring, It have to be recycling to other elements.
        var x = document.getElementById(dropdown_id);
        if (x.style.display !== "block") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>