<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7290065680267572",
        enable_page_level_ads: true
      });
  </script>
</head>

<body>

  <div class="wrapper">
    {{ content }}
  </div>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7290065680267572",
      enable_page_level_ads: true
    });
  </script>

  {% include analytics.html %}
</body>
</html>
